/* Blog.css */

.blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(146, 137, 137, 0.1);
    text-align: center;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-title {
    font-size: 1.5em;
    margin: 16px 0;
    color: #333;
}

.blog-summary {
    font-size: 1em;
    color: #666;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
