/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #4caf50; /* Primary color for the site */
  --secondary-color: #333; /* Secondary color */
  --background-color: #f4f4f9; /* Background color */
  --text-color: #555; /* General text color */
  --cta-color: #fff; /* CTA button text color */
  --cta-hover-color: #388e3c; /* CTA button hover color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hero-section {
  height: 100vh;
  background-image: url('../../assets/helth.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-content {
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 30px;
  border-radius: 15px;
}

.hero-content h1 {
  font-size: 3.5em;
  margin-bottom: 15px;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.25em;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1.2em;
  color: var(--cta-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--cta-hover-color);
}

.features-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
}

.features-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  font-weight: 700;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-item {
  flex: 1 1 calc(33.333% - 40px); /* Flexible layout with gap */
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.feature-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.feature-item h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  font-weight: 500;
}

.feature-item p {
  font-size: 1em;
}

.feature-item:hover {
  transform: translateY(-10px);
  background-color: rgb(198, 255, 194);
}

.about-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.about-content {
  max-width: 700px;
  margin: auto;
}

.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .features-grid {
    flex-direction: column;
  }

  .feature-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
